ul {
    list-style-type: none;
    margin:3px;
    padding: 20px;
    overflow: hidden;
    height: 60px;
}

li {
    float: left;
    padding-left: 20px;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 29px 16px;
    text-decoration: none;
}
.Navbar{
    transform: translate(0%, -15%);
}
.first-navbar{
    font-size:22px;
}
/* underline hover effect */
@keyframes underline {
    0%{

    }
}
.borderbottom{
    width: 116px;
}
.borderbottom:hover{
    border-bottom: 2px solid black;
    width: 116px;
}
/* blue-button */
.blue-submit:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}
/* modal */
.modal-box-for-transaction{
    position: absolute;
    z-index: 99;
    top: -30px;
    transition: -webkit-transform 0.75s;
    transition: transform 0.75s;
    transition: transform 0.75s, -webkit-transform 0.75s;
    max-width: 90%;
    min-height:100%;
    width: 450px;
    background-color: #fafafa;
    padding: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    color: #080808;
    border-radius: 5px;
    pointer-events: none;
  }
  .modal-box-for-transaction-none{
      display: none;
  }
  /* modal-end here */

  /*search-bar*/
  .search-bar-top-right{
    height: 30px;
    width: 200px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 2%;
  }

  /* modal for add-action */
  .split-modal-add {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left-modal-add {
    left: 0;
    background-color:#fafafa;
}

.right-modal-add {
    right: 0;
    background-color: red;
}

.centered-modal-add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered-modal-add img {
    width: 150px;
    border-radius: 50%;
}
.close-action{
    position: relative;
    top: -17px;
    left: 92%;
    font-size: 23px;
    font-weight: 500;
}
/* drop-down-select-in modal */

